@font-face {
  font-family: "iconfont"; /* Project id 4375927 */
  src: url('iconfont.woff2?t=1703401533787') format('woff2'),
  url('iconfont.woff?t=1703401533787') format('woff'),
  url('iconfont.ttf?t=1703401533787') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\e7cb";
}

.icon-night-day:before {
  content: "\e60a";
}

.icon-history:before {
  content: "\e63b";
}

.icon-download:before {
  content: "\e653";
}

.icon-focus:before {
  content: "\e61f";
}

.icon-book:before {
  content: "\e60d";
}

.icon-game:before {
  content: "\e61e";
}

.icon-mark:before {
  content: "\e673";
}

.icon-news:before {
  content: "\e665";
}

.icon-remark:before {
  content: "\e600";
}

.icon-favorite:before {
  content: "\e698";
}

.icon-ScanCode:before {
  content: "\e62e";
}

.icon-search:before {
  content: "\e628";
}

.icon-back:before {
  content: "\e627";
}

.icon-set-up:before {
  content: "\e626";
}

.icon-layout-spread:before {
  content: "\e622";
}

.icon-detail:before {
  content: "\e624";
}

.icon-layout-top-bottom:before {
  content: "\e623";
}

.icon-me:before {
  content: "\e602";
}

.icon-upload:before {
  content: "\e603";
}

.icon-cart:before {
  content: "\e601";
}

.icon-more-fill:before {
  content: "\e609";
}

.icon-close:before {
  content: "\e613";
}

.icon-tick-fill:before {
  content: "\e621";
}

.icon-tick:before {
  content: "\e620";
}

.icon-home:before {
  content: "\e611";
}

.icon-home-fill:before {
  content: "\e610";
}

.icon-add:before {
  content: "\e612";
}

.icon-info:before {
  content: "\e617";
}

.icon-layout-four-compartments:before {
  content: "\e625";
}

.icon-down-pointing-arrow:before {
  content: "\e616";
}

.icon-up-pointing-arrow:before {
  content: "\e615";
}

.icon-like:before {
  content: "\e604";
}

.icon-successes:before {
  content: "\e607";
}

.icon-like-fill:before {
  content: "\e614";
}

.icon-successes-fill:before {
  content: "\e608";
}

.icon-i18n:before {
  content: "\e605";
}

.icon-help:before {
  content: "\e606";
}

.icon-vue:before {
  content: "\e618";
}

.icon-mock:before {
  content: "\e619";
}

